@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	@apply  gap-5;
}

.content {
	@apply flex flex-col gap-5 px-10 md:px-20;
}

h2 {
	@apply mt-5 mb-3 text-2xl font-extrabold leading-[1.15] sm:text-3xl;
}

.pointer:hover {
	cursor: pointer;
}

/* Client Card */

.client-card {
	@apply bg-primary rounded-3xl p-5 h-56 w-96 text-secondary;
}

.client-contact {
	@apply text-xs text-secondary p-2 mt-2;
}
.contact-info-group{
    @apply flex items-center mb-2;
}
.contact-icon {
    @apply w-7 h-7 text-accent stroke-2;
}

h3 {
	@apply text-xl font-bold text-secondary;
}

h4 {
	@apply font-semibold text-sm;
}

/* UI */

hr {
	border: none;
	@apply bg-secondary w-full h-[1px];
}

/* Forms */

form {
	@apply w-full max-w-[500px] m-auto flex flex-col gap-5;
}

input:not([type="checkbox"]) {
	@apply input input-bordered w-full;
}

.navbar {
    @apply flex justify-between p-4;
}

.action-icon{
    @apply w-7 h-7 mx-1 cursor-pointer;
}