@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	@apply gap-5;
}

.content {
	@apply flex flex-col gap-5 px-10 md:px-20 flex-1;
}

h2 {
	@apply mt-5 mb-3 text-2xl font-extrabold leading-[1.15] sm:text-3xl;
}

/* Client Card */

.client-card {
	@apply bg-primary rounded-3xl p-5 h-56 w-96 text-secondary;
}

.client-contact {
	@apply text-xs text-secondary p-2 mt-2;
}

.contact-info-group {
	@apply flex items-center mb-2;
}

.contact-icon {
	@apply w-7 h-7 text-accent stroke-2;
}

h3 {
	@apply text-xl font-bold text-secondary;
}

h4 {
	@apply font-semibold text-sm;
}

/* UI */

hr {
	@apply w-full max-w-[500px] border-0 rounded-full mx-auto h-[2px] bg-accent;
}

.dropdown-menu {
	@apply mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-primary border border-secondary rounded-box w-52;
}

.dropdown-menu-small {
	@apply mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-primary border border-secondary rounded-box w-36;
}

/* Forms */

form {
	@apply w-full max-w-[500px] m-auto flex flex-col gap-5 text-secondary;
}

.button-form-submit {
	@apply btn btn-accent bg-transparent text-accent text-lg border-4 hover:bg-accent hover:text-secondary hover:opacity-100;
}

input:not([type="checkbox"]) {
	@apply input input-bordered w-full bg-primary;
}

.input-add {
	@apply w-full rounded p-1;
}

.select {
	@apply w-full rounded p-1 text-secondary bg-primary;
}

.navbar {
	@apply flex justify-between p-4;
}

.action-icon {
	@apply w-7 h-7 mx-1 cursor-pointer text-secondary;
}

.text-submit {
	@apply bg-transparent w-auto h-auto p-0 m-0 text-base font-bold;
}

/* Landing page */

.landing-page {
	@apply border-t-4 border-accent;
}

.landing-page > h2 {
	@apply text-5xl
}

.landing-page > p {
	@apply text-3xl
}

.floats {
	@apply flex flex-row justify-between;
	@apply mt-10
}

.floats h3 {
	@apply text-7xl text-accent py-3;
}

.floats p {
	@apply ml-10 text-3xl font-bold pb-10;
}
 
.floats ul {
	@apply pl-20 pt-24 w-1/3;
}

.floats img {
	@apply border-l-8 border-y-8 border-accent rounded-l-3xl;
}

.outreach {
	@apply border-8 border-accent rounded-3xl
}