@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.content {
	@apply flex flex-col gap-5 px-10 md:px-20;
}

h2 {
	@apply mt-5 mb-3 text-2xl font-extrabold leading-[1.15] text-black sm:text-3xl;
}

.pointer:hover {
	cursor: pointer;
}

/* Client Card */

.client-card {
	@apply bg-slate-100 dark:bg-slate-700 rounded-xl p-5;
}