@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	@apply gap-5;
}

.content {
	@apply flex flex-col gap-5 px-5 sm:px-8 md:px-12 pb-10 flex-1 w-full max-w-7xl mx-auto;
}

h2 {
	@apply mt-5 mb-3 text-2xl font-extrabold leading-[1.15] sm:text-3xl;
}

/* Client Card */

.client-card {
	@apply bg-primary rounded-3xl p-4 xs:p-5 xs:h-60 text-secondary;
}

/* Client Card/List Container Views */

.card-view{
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-[2%] gap-y-4 justify-center;
}
.list-view{
    
}

.client-contact {
	@apply text-xs text-secondary p-1 xs:p-2 mt-2;
}

.contact-info-group {
	@apply flex items-center mb-2;
}

.contact-icon {
	@apply min-w-min min-h-min w-5 h-5 xs:w-7 xs:h-7 text-accent stroke-2;
}
.contact-icon-list {
	@apply w-4 h-4 text-accent stroke-2;
}

h3 {
	@apply text-lg xs:text-xl font-bold text-secondary;
}

h4 {
	@apply font-semibold text-sm;
}

/* UI */

hr {
	@apply w-full max-w-[500px] border-0 rounded-full mx-auto h-[2px] bg-accent;
}

.dropdown-menu {
	@apply mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-primary border border-secondary rounded-box w-52;
}

.dropdown-menu-small {
	@apply mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-primary border border-secondary rounded-box w-36 left-[-6.5rem];
}

/* Forms */

form {
	@apply w-full max-w-[500px] m-auto flex flex-col gap-5 text-secondary;
}

.button-form-submit {
	@apply btn btn-accent bg-transparent text-accent text-lg border-4 hover:bg-accent hover:text-secondary hover:opacity-100;
}

input:not([type="checkbox"]) {
	@apply input input-bordered w-full bg-primary;
}

.input-add {
	@apply w-full rounded p-1;
}

.select {
	@apply w-full rounded p-1 text-secondary bg-primary;
}

.navbar {
	@apply flex justify-between p-4;
}

.action-icon {
	@apply min-w-min w-7 h-7 mx-1 cursor-pointer text-secondary;
}

.text-submit {
	@apply bg-transparent w-auto h-auto p-0 m-0 text-base font-bold;
}

/* Landing page */

.floats h3 {
	@apply text-center text-3xl lg:text-left sm:text-7xl text-accent ;
}

.floats p {
	@apply text-center text-lg lg:text-left sm:text-3xl lg:ml-10 font-bold pb-10  ;
}

.btnCustom {
	@apply border-4 py-1 px-4 w-[7rem] rounded-lg border-accent text-accent text-sm sm:text-lg mt-2 font-semibold uppercase 
}